# Maintainer: Luiz Guilherme <luiz.guilherme.89 at outlook dot com>
pkgname=updash
pkgver=@VERSION@
pkgrel=1
pkgdesc='System Update Dashboard for package updates and cleanup'
arch=('x86_64' 'aarch64')
url='https://github.com/lgldsilva/updash'
license=('MIT')
provides=('updash')
source_x86_64=("${pkgname}_${pkgver}_linux_amd64.tar.gz::https://github.com/lgldsilva/updash/releases/download/v${pkgver}/updash_${pkgver}_linux_amd64.tar.gz")
source_aarch64=("${pkgname}_${pkgver}_linux_arm64.tar.gz::https://github.com/lgldsilva/updash/releases/download/v${pkgver}/updash_${pkgver}_linux_arm64.tar.gz")
sha256sums_x86_64=('@SHA256_AMD64@')
sha256sums_aarch64=('@SHA256_ARM64@')

package() {
  install -Dm755 "$srcdir/updash" "$pkgdir/usr/bin/updash"
  install -Dm644 "$srcdir/LICENSE" "$pkgdir/usr/share/licenses/$pkgname/LICENSE"
}
